
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-container {
    z-index: 99999;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 75px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    display: flex;
    list-style-type: none;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe;
 }
 .icon{
    width: 91px;
    height: 34px;
 }
 .searchbar {
    display: flex;
    flex-grow: 1;
} 
.searchbar input{
    height: 3px;
    border: 1px solid #1c1d1f;
    border-radius: 100px;
    text-align: left;
    padding: 22px;
    background-color: #f7f9fa;
    margin: 0 1.2rem;
    display: flex;
    flex-grow: 1;
}

